<% content_for :seo_tags do %>
  <title>BallyCara Operating System</title>
  <meta name="description" content="A secure web application">
<% end %>

<%= render 'visitors/header' %>

<%= render 'visitors/book_online' %>

<%= render 'visitors/introduction' %>

<%= render 'visitors/pricing' %>

<%= render 'visitors/footer' %>
